* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}


.slides-container {
    width: 600px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 4%;

}


.slides {
    display: flex;
    width: 100%;
    height: 500px;
}

.title {
    text-align: center;
    font-family: nunito;
}

.btn {
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background-color: black; opacity:0.5;;
    font-size: 1.2rem;
    border-radius: 0 3px 3px 0;
    transition: all 0,012s ease-in-out;
    padding: 0.5rem;
    }
    
    
    
    .next-btn {
        right: 0;
        position: absolute;
        top: 50%;
     z-index: 11;
        border-radius: 10px 0 0 10px;
    }
    
    .prev-btn {
    position: absolute;
    top: 50%;
    z-index: 11;

        border-radius: 0 10px 10px 0;
    }


    .prev-btn:hover,.next-btn:hover{
        background-color: rgb(253, 253, 253);
        opacity: 0.5;
        color: black;
    }
    
    
    
    .btn:active {
    color: red;
    }
    