$ButtonColor: #3871d3;
$PriceTextColor: red;
$OrderTextColor: green;
$GreyTextColor: rgb(84, 84, 84);
$NavigationBarcolor: hsl(255, 47%, 38%);
$MainTextColor:black;
$WhiteTextColor: white;
$FooterBackgroundColor: rgb(243, 241, 232);
$NavBarTextSize: 1.6em;










