



.Footer {
    background: $FooterBackgroundColor;
justify-content: space-between;
    display: flex;
    flex-direction:row;
    margin: 2em;
    max-width: 80vw;
    padding: 1rem
 
}


.columnTitle {
    margin-left: 2.5em;
}

.ListColumn {
    display: inline-block;
    position: relative;
    padding: 1em;
    ul li {
        list-style: none;
    }
}



.FollowOnSocials_followText {
    font-weight: bold;
}


.FollowOnSocials_SocialsIcons {
    color: $ButtonColor;
}