// .PageMainFrame {
//     margin: 0;
//     padding: 0;
//     max-width: 100vw;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

@mixin FooterMobileView {
    display: flex;
    flex-direction: column;
    
}


@mixin ProductCardsMobileView {

    display: flex;
    flex-direction: column;
   
}