
@mixin BlankImageLogIn {
    background: rgb(185, 184, 184);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    
}

.LogInWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    min-width: 350px;
    margin-top: 4em;
    margin-bottom: 2em;
}

.LogInWindow_BlankImageAndCaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogInWindow_BlankImage {
    @include BlankImageLogIn;
}


.LogInWindow_Forms{
margin-top: 3em;
}

.Forms {
    width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}



#ForgotPassword {

}





.LogInButton {
    width: 90%;
    background: $ButtonColor;
    border-style: none;
    color: $WhiteTextColor;
    padding: 1em;
}