@mixin NavBar {

    padding: 10px;
    width: 100%;
    height: 4em;
    background: $NavigationBarcolor;
    color: $WhiteTextColor;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}


@mixin NavBar_logo {
    display: inline-block;
    position: relative;
    float: left;  
    width: 2em; 
    
    &img {
        width: 1em;
        height: 1em;

    }
}


@mixin NavBar_Menu {
    position: relative;
    justify-content: space-between;
    display: flex;
    padding: 1em;
    font-size: $NavBarTextSize;}




.NavBar {
@include NavBar;

}


.NavBar_logo {
@include NavBar_logo;

}



.NavBar_Menu {
@include NavBar_Menu;}

.NavBar_manu ul {
    justify-content: space-between;
    list-style: none;
    color: $WhiteTextColor;
    li {margin-right: 2em;}
}


    



@mixin NavBar_MenuMobileView 
{
    display: flex;
    flex-direction: column;
    height: auto;}
