@mixin NavBar {

    padding: 1em;
    width: 100%;
    height: 4em;
    background: $NavigationBarcolor;
    color: $WhiteTextColor;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}


@mixin NavBar_logo {
    display: inline;
    position: relative;
    float: left;  
    width: 12em; 
    
}


@mixin NavBar_Menu {
    display: flex;
    padding: 1em;
    font-size: $NavBarTextSize;
}


@mixin NavBar_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
        float: left;
        margin: 1em;
      }
    
}

.NavBar {
@include NavBar;

}


.NavBar_logo {
@include NavBar_logo;

}



.NavBar_Menu {
@include NavBar_Menu;
}


.NavBar_List {
@include NavBar_list;

}




// @mixin NavBar_MenuMobileView 
// {
//     display: flex;
//     flex-direction: column;
//     height: auto;}
