@mixin NavBar {
  padding: 1em;
  width: 100vw;
  height: 4em;
  background: $NavigationBarcolor;
  color: $WhiteTextColor;
  position: absolute;
}

@mixin NavBar_logo {
  display: inline;
  position: relative;
  margin-left: auto;
}

@mixin NavBar_Menu {
  padding: 1em;
  font-size: $NavBarTextSize;
  list-style-type: none;
  margin: 0;
  padding: 0;
  // overflow: hidden;
  li {
    margin: 1em;
    display:inline
  }
}

.NavBar {
  @include NavBar;
}

.NavBar_logo {
  @include NavBar_logo;
}

.NavBar_Menu {
  @include NavBar_Menu;
}

// .menu-button,
// .menu-button::before,
// .menu-button::after {
//   display: block;
//   background-color: #fff;
//   position: absolute;
//   height: 4px;
//   width: 30px;
//   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
//   border-radius: 2px;
// }

// .menu-button::before {
//   content: '';
//   margin-top: -8px;
// }

// .menu-button::after {
//   content: '';
//   margin-top: 8px;
// }

// #menu-toggle:checked + .menu-button-container .menu-button::before {
//     margin-top: 0px;
//     transform: rotate(405deg);
//   }

//   #menu-toggle:checked + .menu-button-container .menu-button {
//     background: rgba(255, 255, 255, 0);
//   }

//   #menu-toggle:checked + .menu-button-container .menu-button::after {
//     margin-top: 0px;
//     transform: rotate(-405deg);
//   }

// @mixin NavBar_MenuMobileView
// {
//     display: flex;
//     flex-direction: column;
//     height: auto;}
