@mixin ProductCards  {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: left;

    
}



@mixin BlankImageProduct {
    background: rgb(185, 184, 184);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    flex: none;
    margin: 1em;
    
}


@mixin ProductOrder_AddToCartButton {
    background: yellow;
    width: 3em;
    height: 1.5em;
    border-style: none;
    padding-right: 0.6em;

}

@mixin ProductCards_productItem {
    display: flex;
    flex: none;
    min-height: 150px;
    max-width: 95%;
    justify-content: space-between;
    align-items: left;
    
}

@mixin ProductItem_ProductDescription {
    display: inline-block;
    max-width: 60%;

    
}

.ProductCards {
@include ProductCards;
}





.ProductCards_productItem {
@include ProductCards_productItem;

}

.ProductItem_ProductDescription {
    @include ProductItem_ProductDescription;




}



.ProductItem_ProductImage {

@include BlankImageProduct;
}



.ProductItem_ProductOrder {
    min-width: 14em;
    display:block;
    position: relative;
    margin-top: 2em;

    

}

.ProductOrder_price {
    color: $PriceTextColor;
    position: relative;
    display: block;
    .cents {
        font-size: 76%;
        position: relative;
        top: -4px;
        right: 2px
    }
  
}






.ProductOrder_DeliveryTime {

    color: $OrderTextColor;
}

.ProductOrder_AddToCartButton {
    @include ProductOrder_AddToCartButton;

}